header {
    position: relative;
    padding-bottom: 65px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    top: 0;
}

.wrapper h1 {
    float: left;
    position: absolute;
    background: #4aaaa5;
    color: #fff;
    margin: 0 auto;
    padding: 14px 25px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    padding-top: 20px;
    margin-left: 5px;
    font-size: 18px;

}

nav li a {
    text-decoration: none;
    color: #777;
}

section {
    width: 960px;
    margin: 0  auto;
    background-color: #fff;
}

footer {
    background-color: #777;
    border-top: 30px;
    
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-bottom {
    border-top: 5px solid #4aaaa5;
    padding: 25px;
    background-color: #777
}

.bottom-wrap {
    border-bottom: 0%;
    width: 100%;

}

.box-container {
   position: relative;
   text-align: center;
}

@media screen and (max-width: 640px) {
    header {      
        position: static;
        float: none;
        width: 100%
    }
      .wrapper h1 {
        width:100%
  
      }
  
      nav {
          float: none;
          display: block;
          width: 100%;
      }
      
      .main-container {
          width: 90%;
  
      }
  
      section {
          width:90%
      }

      section p {
          text-align: center;
      }

        h1 {
            width: 100%;
        }
  
      img {
          width: 90%;
          height: auto;
          padding-left: 10%
      }
}

@media screen and (max-width: 768px) {
    header {
        position: static;
        float: none;
        width: 125%;
        margin: 0 auto;
    }


      .wrapper h1 {
        width: 125%;
      }
  
      nav {
          float: none;
          display: block;
          width: 125%;
      }
      
      .main-container {
          width: 90%;
          text-align: center;
  
      }
  
      section {
          width:90%
          margin: 0 auto;

      }

      section p {
          text-align: center;
      }

        h1 {
            width: 100%;
        }
  
      img {
          width: 40%;
          height: auto;
      }

}

@media screen and (max-width: 980px) {

}